
body {
font-family: 'Work Sans', sans-serif;
font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 800;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
  }
nav{
    background-color: #121212;
}

header{
    background-color: #121212;
    color: #fff;
}
footer{
    background-color: #121212;

}

footer a{
    color: rgba(255,255,255,.75);
}

footer a:hover{
    color: rgb(246, 241, 241);
}

#font-pres{
    height:90vh;
    background: url(../img/font-clavier.jpg);
    background-size:cover;
}

.form-control-user {
  font-size: 1rem;
  font-weight:800 ;
  border-radius: 10rem;
  padding: 1.5rem 1rem;
  margin:8px;
}
.btn-user {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
  }
