<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Base admin</title>
		<link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>

	    {% include "admin/includes/header.html.twig" %}
		
		<div class="container-fluid">
			<div class="row">
			
				{% include "admin/includes/nav.html.twig" %}

				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				
					{% block body %}{% endblock %}

				</main>
			</div>
		</div>
     
		<script src="../vendor/ckeditor/ckeditor/ckeditor.js"></script>
		<script src="../vendor/components/jquery/jquery.min.js"></script>
		<script src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../public/js/admin/main.js"></script>
		
	</body>
</html>
