{% extends "admin/baseAdmin.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block body %}

<h1 class="text-center"> Admin Dashbord</h1>

<p> Bienvenue sur le Dashboard du Blog</p>


{% endblock %}
