{% extends "admin/baseAdmin.html.twig" %}

{% block title %}Accueil{% endblock %}


{% block body %}

<h1 class="text-center"> Admin Dashbord</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio vitae eos excepturi quo tenetur laborum vero in incidunt dolorum delectus molestias deserunt voluptatum sit provident est recusandae voluptate, ipsa assumenda.</p>


{% endblock %}
