<div >
	<ul class="nav justify-content-center pt-2 mb-3">

		<li class="nav-items">
			<a class="nav-link px-2 text-muted" href="index.php">home</a>
		</li>

		<li class="nav-items">
			<a class="nav-link px-2 text-muted" href="index.php?path=post">Blog</a>
		</li>

		<li class="nav-items">
			<a class="nav-link px-2 text-muted" href="index.php?path=login">Connexion</a>
		</li>
	</ul>
</div>

<div class="container d-flex justify-content-center">
	<div class="row">
		<div class="col-4 m-2">
			<a  target="_blank" href="https://github.com/yd67">
				<i class="fa-brands fa-github fa-3x"></i>
			</a>
		</div>
		<div class="col-4 m-2">
			<a target="_blank" href="https://fr.linkedin.com/in/yvens-darius">
				<i class="fa-brands fa-linkedin fa-3x"></i>
			</a>
		</div>

	</div>
</div>
<p class="text-center text-muted mt-4">
	<small>© COPYRIGHT 2022 - Darius Yvens Tous Droits Réservés</small>
</p>
