{% extends "base.html.twig" %}

{% block title %}Login - Blog
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

	<h1>
		page de connexion
	</h1>

	{% if session.success is defined %}
		<div style="color:green;">
			{{session.success}}
		</div>
	{% endif %}
    {% if session.error is defined %} 	
		<div style="color:red;">
			{{session.error}}  
		</div>
	{% endif %}

	<form action="" method="POST">

	<div>
		<label for="email">email</label>
		<input type="email" name="email"{% if session.info.email is defined %} value="{{session.info.email}}" {% endif %}>
	</div>
	<div>
		<label for="password">mot de passe </label>
		<input type="password" name="password">
	</div>
	
	<button type="submit"> se connecter </button>
	</form>


{% endblock %}
