{% extends "base.html.twig" %}

{% block title %}Login - Blog{% endblock %}
 
{% block stylesheets %}{% endblock %}

{% block body %}

	<h1>
		page de connexion
	</h1>

    {% if session.success is defined %} 	
		<div style="color:green;">
			{{session.success}}  
		</div>
	{% endif %}

{% endblock %}
