{% extends "admin/baseAdmin.html.twig" %}

{% block title %}Blog - Liste Articles
{% endblock %}


{% block body %}

	<h1 class="text-center">
		Admin Articles</h1>


	<a class="btn btn-primary" href="index.php?path=adminPost/addPost">ajouter un article</a>

{% endblock %}
