{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

<h1> page Contact</h1>

<a href="" class="btn btn-danger">la home</a>

{{test}}

{% endblock %}
