<!DOCTYPE html>
<html lang="fr">
	<head>
	{% block head %}
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %}</title>
	    <link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
		<link rel="stylesheet" href="../public/css/style.css">
		{% block stylesheets %}{% endblock %}
    {% endblock %}
		</head>
	<body>
		<header>
			{% include "includes/header.html.twig" %}	
		</header>

        <main>
			{% block body %}{% endblock %}
		</main>

		<footer>
			{% include "includes/footer.html.twig" %}
		</footer>
		<script async src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
	</body>
</html>
