{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="../public/css/404.css"> {% endblock %}

{% block body %}

   <div class="bg-dark page d-flex align-items-center">
        <div class="container text-center ">
          
           <h1 class="text-3d"> Erreur 404 </h1>
        
        </div>
   
   </div>
{% endblock %}
